.item-container {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid var(--purple-unique);
}

.item-container:hover {
  transform: scale(1.05);
}

.status {
  position: absolute;
  padding: 20px;
  color: white;
  border-top-left-radius: 10px;
}

.photos {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.text-container {
  padding: 10px;
}

.title {
  text-align: center;
  display: block;
  margin: auto;
  font-weight: bold;
  color: var(--blue-hard);
  text-shadow: none;
}

.price {
  font-weight: bold;
  text-shadow: none;
  color: var(--green-soft);
  margin-bottom: 0;
}

.features-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.icon {
  color: var(--blue-hard);
  display: block;
  margin: auto;
  font-size: 1.2em;
}

.feature {
  padding: 0;
  color: var(--blue-gray);
  font-size: 0.7em;
  text-shadow: none;
  text-align: center;
}

.right-bar {
  border-right: 1px solid var(--blue-hard);
}
